@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.App {
  text-align: center;
  background-color: #222222;
  font-family: 'Poppins', sans-serif;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.Title {
  font-size: 2.5vw;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.Slider-container {
  width: 90%;
  max-width: 956px;
  margin: 0 auto;
}

.Slider-image {
  width: 100%;
  aspect-ratio: 16 / 9; /* Keeps the image proportionate */
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
}

/* Adjust for smaller devices */
@media (max-width: 768px) {
  .Slider-image {
    aspect-ratio: 4 / 3; /* slightly taller for phones */
  }
}

/* Swiper styles */
.swiper-pagination-bullet {
  background-color: #fff;
}


/* Override default Swiper arrow colors */
.swiper-button-next,
.swiper-button-prev {
  color: #ffffff !important;   /* Force white color */
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  transition: background 0.3s ease;
  font-size: 14px;

}

/* Optional: On hover */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff !important;
}

/* Resize arrow icons if needed */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size:14px !important;
}